@font-face {
  font-family: "NanumSquareR";
  src: url("./static/font/NanumSquareR.svg#NanumSquareR") format("svg"),
    url("./static/font/NanumSquareR.ttf") format("truetype"),
    url("./static/font/NanumSquareR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareR_mini";
  src: url("./static/font/NanumSquareR_mini.eot");
  src: url("./static/font/NanumSquareR_mini.eot?#iefix") format("embedded-opentype"),
    url("./static/font/NanumSquareR_mini.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeee;
  margin: 0;
  padding: 0;
  font-family: "NanumSquareR", sans-serif;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

a:hover:active {
  text-decoration: none;
}
