div.Coinlist {
  -ms-overflow-style: none;
  overflow-y: scroll;
  position: relative;
  height: 100%;
  width: 420px;
  min-width: 420px;
  border-right: 2px solid #eee;
}

::-webkit-scrollbar {
  display: none;
}
