div.profile {
  padding: 10px;
}
div.profile_top {
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

div.profile_stockprice {
  margin-top: -20px;
  margin-bottom: -15px;
  font-size: 0.9rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

div.profile_middle {
  font-size: 1.1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

div.profile_bottom {
  margin-top: 0.7em;
}

h4 {
  font-weight: 600;
  text-align: center;
  /* background-color: #5385c1;
    color: white;
    margin-top: -0.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem; */
}

div.list {
  border-bottom: 1px solid #eee;
  /* border-right: 1px solid #eee; */
}

div.list_active {
  border-bottom: 1px solid #eee;
  /* border-right: 1px solid #eee; */
  background: -webkit-linear-gradient(
    -116deg,
    rgb(206, 231, 254),
    rgb(251, 251, 251)
  );
  background: linear-gradient(-116deg, rgb(206, 231, 254), rgb(251, 251, 251));
}

div.list_active :hover {
  cursor: pointer;
}

div.list:hover {
  cursor: pointer;
}

.favoriteNotButton {
  color: #d3d3d3;
}

.favoriteNotButton:hover {
  filter: brightness(85%);
  cursor: pointer;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.favoriteButton {
  color: #cccc00;
}

.favoriteButton:hover {
  filter: brightness(105%);
  cursor: pointer;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#endPrice {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
}

#changeRate {
  align-self: center;
}
