div.home_wrap {
  margin: 10px;
}

div.JumpCoinInfo {
  border-top: 7px solid #294e80;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19);
  padding: 11px;
  margin-right: 1rem;
  background: white;
  font-size: 1.5rem;
  width: 50%;
}

div.Homecoininfo {
  margin-bottom: 1.5rem;
  display: flex;
}

div.Table-title {
  height: 3.2rem;
  border-bottom: 2px solid #eee;
  padding-left: 18px;
}

div.Table-title span {
  font-size: 2rem;
  font-weight: 700;
}

div.Info-board {
  margin-top: 1rem;
}
div.Info-board table {
  width: 100%;
}

div.Info-board table tr th {
  font-size: 1.9rem;
}

div.Info-board table tr {
  margin-left: 10px;
}

div.Info-board table tr td {
  font-size: 1.7rem;
  padding: 10px 0px 5px 12px;
}

div.Info-board table tr:hover {
  font-weight: 900;
}

div.FavCoinInfo {
  border-top: 7px solid #294e80;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19);
  padding: 10px 10px 10px 10px;
  margin-right: 1rem;
  background: white;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  min-height: 140px;
}

div.Fav-board {
  margin-top: 1rem;
}
div.Fav-board table {
  width: 100%;
}

div.Fav-board table tr th {
  font-size: 1.9rem;
}

div.Fav-board table tr {
  margin-left: 10px;
}

div.Fav-board table tr td {
  font-size: 1.7rem;
  padding: 10px 0px 5px 30px;
}

div.Fav-board table tr:hover {
  font-weight: 900;
}

div.Info-bord table tbody a:hover {
  text-decoration: none;
}

div.Info-board table a {
  margin-left: 15px;
}

div.CrawlInfo {
  border-top: 7px solid #294e80;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19);
  padding: 11px;
  margin-right: 1rem;
  background: white;
  width: 50%;
  font-size: 1.5rem;
  min-height: 140px;
}
