div.app {
  min-height: 100vh;
}

div.app > div.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  padding: 0px 130px 0px 150px;
  padding-top: 5.2rem;
}

div.board {
  overflow-y: scroll;
  position: relative;
  min-width: 420px;
  width: 100%;
}
