div.header {
  background-color: #294e80;
  z-index: 10000;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 205px;
}

div.header > div.title {
  font-size: 25px;
  color: white;
}

div.header > div.title > a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.menu-item {
  color: #ffffff;
  line-height: 5rem;
  height: 48px;
  width: 120px;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-transition: width 2s, height 2s, background-color 2s,
    -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  border-bottom: 3px solid darkgrey;
}

a:active {
  transform: translate(0, 0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #eee;
}
